# **(CAR PRICE ANALYSIS)**

## Objectives

* Fetch data from Kaggle and save as raw data"

## Inputs

* A virtual environment is needed to run the notebook

## Outputs

* A transformed data ready for data visualisation using descriptive statistics, correlation and predictive analysis

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\chris\\OneDrive\\Documents\\vs code-projects\\Hackathon-Car-Price-Analysis\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [3]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [4]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\chris\\OneDrive\\Documents\\vs code-projects\\Hackathon-Car-Price-Analysis'

# Section 1

Step 1: Extract - Load the Dataset

In [12]:
%pip install pandas
# Import required libraries
import pandas as pd

# Load the dataset
df = pd.read_csv("CarPrice_Assignment.csv")

# Display the first few rows
df.head()

Requirement already satisfied: pandas in c:\users\chris\onedrive\documents\vs code-projects\hackathon-car-price-analysis\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\chris\onedrive\documents\vs code-projects\hackathon-car-price-analysis\.venv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chris\onedrive\documents\vs code-projects\hackathon-car-price-analysis\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\chris\onedrive\documents\vs code-projects\hackathon-car-price-analysis\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\chris\onedrive\documents\vs code-projects\hackathon-car-price-analysis\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\chris\onedrive\documents\vs code-projects\hackathon-car-price-analysis\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

---

# Section 2

Step 2: Transform - Data Cleaning and Feature Engineering

2.1 Understand  the Dataset

In [13]:
# Basic information
df.info()

# Check for missing values
df.isnull().sum()

# Summary statistics
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
unique,NaN,NaN,147,2,2,2,5,3,2,NaN,...,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,toyota corona,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,6,185,168,115,96,120,202,NaN,...,NaN,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,103.000000,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

2.2 Handle Missing Values

# No missing  values found in cells

2.3 Encode Categorical Variables

In [ ]:
# Convert categorical columns using one-hot encoding
df = pd.get_dummies(df, columns=['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation'], drop_first=True)

---

2.4 Create New Features

Create price-to-performance ratio

Create price-to-weight ratio

In [ ]:

# Create price-to-performance ratio
df['price_to_horsepower'] = df['price'] / df['horsepower']
df['price_to_weight'] = df['price'] / df['curbweight']

# Section 3

Step 3: Load - Save the Cleaned and Transformed Data

In [30]:
# Save transformed dataset
df.to_csv("CarPrice_Assignment_Cleaned.csv", index=False)

# Display transformed data
df.head()

,car_ID,symboling,CarName,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,...,doornumber_two,carbody_hardtop,carbody_hatchback,carbody_sedan,carbody_wagon,drivewheel_fwd,drivewheel_rwd,enginelocation_rear,price_to_horsepower,price_to_weight
0,1,3,alfa-romero giulia,88.6,168.8,64.1,48.8,2548,dohc,four,...,True,False,False,False,False,False,True,False,121.576577,5.296311
1,2,3,alfa-romero stelvio,88.6,168.8,64.1,48.8,2548,dohc,four,...,True,False,False,False,False,False,True,False,148.648649,6.475667
2,3,1,alfa-romero Quadrifoglio,94.5,171.2,65.5,52.4,2823,ohcv,six,...,True,False,True,False,False,False,True,False,107.142857,5.844846
3,4,2,audi 100 ls,99.8,176.6,66.2,54.3,2337,ohc,four,...,False,False,False,True,False,True,False,False,136.764706,5.969191
4,5,2,audi 100ls,99.4,176.6,66.4,54.3,2824,ohc,five,...,False,False,False,True,False,False,False,False,151.739130,6.179178

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [33]:
!git add . CarPrice_Assignment_Cleaned.csv
!git commit -m "Add cleaned dataset"
!git push origin main

[main de418ae] Add cleaned dataset
 2 files changed, 412 insertions(+)
 create mode 100644 CarPrice_Assignment.csv
 create mode 100644 CarPrice_Assignment_Cleaned.csv

To https://github.com/Betram-91/Hackathon-Car-Price-Analysis.git
   16f632d..de418ae  main -> main